* {
	margin: 0;
	padding: 0
}

body {
	font: 13px "留묒� 怨좊뵓", �룍��, 援대┝;
	text-align: center;

	z-index: 0;
}

html, body {
	height: 100% !important;
	
}

ul, ol {
	list-style-type: none
}



.container-fluid {
	height: 100%;
	
}

.asideWrap {
	height: 100%;
}

#aside {
	background-color: #ffffff;

}
#header {
	height: 250px;
	position:relative;
	z-index:20;
	overflow:hidden;
	background-image:
		url("http://ec2-52-34-170-68.us-west-2.compute.amazonaws.com/images/design/bg_header.png");
	background-repeat: repeat;
}

#footer {
	height: 60px;
	position:relative:;
	z-index:20;
	overflow:hidden;
	background-color: #F3FAFB;
	
}

.small-menu, .menu-title {
	text-align: right;
	margin: 20px;
	font-size: 1.25em;
}

.small-menu a {
	font-weight: bold;
	text-decoration: underline;
}

.menu-title {
	text-align: left;
	font-weight: bold;
}

/* header */
div #header	button {
	height: 70px;
	line-height: 70px;

	float: left;
}

div #header #anim {
	height: 100px;
	margin: 0;
	
}

div #header	li {
	float: right;
}

div #header	a {
	
	margin-left: 0;
	text-decoration: none;
}

div #header #logo {
	margin:10px;
	width:220px;
}

/* navigation */
div#navigation {
	background-color: #D9F0F4;
	font-size: 15px;
	height: 100%;
}

div#navigation ul {
	width: 100%;
}

div#navigation li {
	width: 100%;
	background-color: #D9F0F4;
	border: 1px solid #DADADA;
}

div#navigation li a {
	display: block;
	color: #4F4F4F;
	width: 100%;
	padding: 5px 10px;
}

div#navigation li:hover {
	background-color: #F7FCFD;
}

div#navigation p#category {
	width: 100%;
	text-align: left;
	font-size: 1.5em;
	margin: 10px 0;
	color: #f55;
}

div#navigation a.selected-navi {
	background-color: #F7FCFD;
}

/* 寃��깋 */
#search_form {
	width: 100%;
	text-align: center;
	margin: 20px;
}

input[type="text"] {
	padding: 5px;
	border: 1px solid #aaa
}

input[type="submit"] {
	padding: 5px;
	border: 1px solid #aaa;
	background-color: #aaa;
	font-weight: bold;
	color: #fff;
}

input#kwd {
	width: 250px;
}